.DS_Store
.idea
*.vcd   # these are the waveform files 
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

*.vvp
note
git
basic-test/     # this one has the vvp file